/* ./src/index.css */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar-track{  
    width:5px;
    height:2px;
}
::-webkit-scrollbar{
    width:5px;
    height:2px;
}
::-webkit-scrollbar-thumb{
    width:5px;
    height:2px;
    background:blue;
}

input,select {
  border: 1px solid #a39ab6;
}
.password {
  border: 1px solid #a39ab6;
}
/* input:invalid {
  border: 1px solid #ec314a;
} */
hr.new2 {
  border-top: 2px dashed black;
}

.popup-content {
  margin: auto;
  background: rgb(255, 255, 255);
  width: 50%;
  border-radius: 24px;
}
.popup-overlay {
  background: rgba(0, 0, 0, 0.5);
}

/* responsive pop content */
@media only screen and (max-width: 800px){
    .popup-content{
        width:90%;
    }
}

@media only screen and (max-width: 460px){
    .menuText{
        display:none;
    }
}